.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.polaroid {
  position: absolute;
  width: 220px;
  height: 250px;
  background-color: #fff;
  border: 1em solid #fff;
  border-radius: 3px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.3), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.polaroid:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: grayscale(0.5) contrast(1.1) brightness(1); 
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  opacity: 0.05;
}

.polaroid.portrait {
  height: 280px;
  border-top: 2em solid #fff;
  border-bottom: 4em solid #fff;
}

.polaroid.landscape {
  width: 280px;
  border-left: 2em solid #fff;
  border-right: 4em solid #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shuffle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d4d4d4;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

.folder-select{
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #d4d4d4;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}
